@model ApplicationRoles


    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
<div class="form-group row">
    <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
        <input asp-for="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>
</div>
    
    

