@model ForgetPassordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="SendResetPasswordEmail" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>
			<input class="text email" name="email" asp-for="Email" placeholder="Email" required="">
			<br />
			<input type="submit" value="SendEmail">
		</form>
	</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</div>

