@model LogInViewModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>LogIn</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="LogIn" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<br />
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="IsRemember" class="checkbox">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="LogIn">
		</form>
		<p>If You have not an Account? <a asp-action="Register"> Register Now!</a></p>
	</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</div>
